/*------------------------------------*\
    $Header
\*------------------------------------*/

.header_title  {
  display: block;

  font-size: 30px;
  font-family: Georgia, serif;
  line-height: 1.2;


  padding: 10px 0;
  text-align: center;

  .first-word  {
    color: $primary-color;
  }

  .second-word  {
    color: $secondary-color;
  }
}

.header-search  {
  width: 100%;
  margin-bottom: 15px;

  .text  {
    width: 75%;
  }

  .submit  {
    width: 25%;
  }
}

@media (min-width: 530px) {
  .header_title  { float: left; }
  header form { float: right; padding: 15px 0; }
  header nav  { clear: both; }
  .header-search { margin-bottom: 0; }
}
