/*------------------------------------*\
    $Header
\*------------------------------------*/

.header_title  {
  display: block;

  font-size: 30px;
  font-family: Georgia, serif;
  line-height: 1.2;


  padding: 10px 0;
  text-align: center;

  .first-word  {
    color: $primary-color;
  }

  .second-word  {
    color: $secondary-color;
  }
}

.header-search  {
  width: 100%;
  margin-bottom: 15px;

  .text  {
    font-size: 14px; //0.875em
    width: 75%;
    border: 1px solid $secondary-color;
    height: 25px;
    outline: none;
  }

  .submit  {
    width: 25%;
    color: #fff;
    font-size: 14px; // 0.875em;
    font-weight: 300;
    height: 25px;
    max-height: 25px;
    padding: 0;
    //padding-bottom: 1px;
    line-height: 14px;
    -webkit-appearance: none;
    border: 0 none;
  	position: relative;
  	background: $secondary-color;
  }
}
//
// .submit:after  {
// 	right: 100%;
// 	top: 50%;
// 	border: solid transparent;
// 	content: " ";
//   display: block;
// 	height: 0;
// 	width: 0;
// 	position: absolute;
// 	pointer-events: none;
// 	border-right-color: $secondary-color;
// 	border-width: 5px;
// 	margin-top: -5px;
// }

@media (min-width: 530px) {
  .header_title  { float: left; }
  header form { float: right; padding: 15px 0; }
  header nav  { clear: both; }
  .header-search { margin-bottom: 0; }
}
